JWKS_URI="https://my.jwks.com/certs"
# JWKS_CACHE_MAX_ENTRIES=5 (default is 5 entries)
# JWKS_CACHE_MAX_AGE=36000000 (default is 10 hrs)

# Only needed to unit test verification of a valid unexpired token 
# TEST_VALID_TOKEN=